<div class="first-header">
  <span>My news</span>
</div>

<div class="news-item">
  <div class="image-div">
    <img class="news-image" src="{{news?.imageUrl}}">
  </div>

  <div class="info-div">
    <div class="info-div-heading">
      <span>
        {{news?.heading}}
      </span>
    </div>

    <div class="info-div-content">
      <span>
        {{news?.content}}
      </span>
    </div>

    <div class="info-div-date">
      <span>
        Date: {{news?.date}}
      </span>
    </div>

    <div class="info-div-author">
      <span>
        Author: {{news?.author}}
      </span>
    </div>

  </div>
</div>
