.first-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: #587599;

  span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
}

.news-item {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 65%;
  height: 340px;
  margin: 20px auto;
  padding-top: 15px;
  border: #8eaacc 1px solid;

  .image-div {
    display: flex;
    box-sizing: border-box;
    height: 210px;
    width: 210px;
    margin: 0 15px;

    .news-image {
      height: 210px;
      width: 210px;
      border: #8eaacc 1px solid;
      object-fit: cover;
    }
  }

  .info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    width: 100%;
    margin: 0 15px;

    .info-div-heading {
      display: flex;
      align-items: center;
      margin: 5px;
      width: 100%;
      font-size: x-large;
      font-weight: bold;
      color: #587599;
    }

    .info-div-content {
      display: flex;
      align-items: center;
      margin: 5px;
      width: 100%;
      font-size: 16px;
      color: #587599;
    }

    .info-div-date, .info-div-author {
      display: flex;
      align-items: center;
      margin: 5px;
      font-size: 16px;
      color: #587599;
    }
  }
}
